*,
::after,
::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
body{
    font-family: 'Open Sans', sans-serif;
    
    max-width: 100%;
    background-color: #f7f7f7;
}
a{
    text-decoration: none;
}