
.benefit{
    
    border: 1px solid #0000001c;
    
    text-align: center;
    box-shadow: 0px 3px 5px 1px #0000001c;
    border-radius: .3rem;
    background-color: white;
    height: 30rem;
    
    z-index: 1;
    cursor: pointer;
    
    position: relative;
    @include respond(tablet){
        height: 25rem;
    }
    
    
    
    
    
    &::after{
        width: 100%;
        display: block;
        
        top: 0;
        left: 0;
        opacity: 1;
        position: absolute;
        height: 1%;
        content: '';
        background-color: #631dad;
        z-index: -1;
        transition: all .3s;

    }
    &:hover{
        &::after{
            
            height: 100%;
            opacity: 1;
        }
        & > span{
            color: white;
            
        }
        & > p{
            color: white;
            opacity: 1;
        }
        & > i{
          
            opacity: 0;
        }
    }
    &-box{
        width: 20%;
        @include respond(laptop){
            width: 30%;
            
        }
        
        @include respond(tabport){
            width: 40%;
            
        }
        @include respond(phone){
            width: 80%;
            height: 25rem;
        }
    }
    
    &:active{
        cursor: grabbing;
    }
    
    & > img{
        width: 6rem;
        margin: 1rem 0;
        
        @include respond(phone){
            width: 5rem;
        }
        
    }
   
    & > span{
        padding-top: 1rem;
        display: block;
        font-weight: 500;
        font-size: 1.6rem;
        transition: all .3s;
        color: #631dad;
        @include respond(laptop){
            font-size: 1.5rem;
            margin: 0 1rem;
        }
        @include respond(tablet){
            font-size: 1.4rem;
            margin: 0 1rem;
        }
        
        
    }
    & > i{
        font-size: 4rem;
        position: absolute;
        top: 70%;
        left: 50%;
        transform: translate(-50%,-50%);
        opacity: .5;
        transition: all .3s;
    }
    
    & > p{
        padding: 1rem 0;
        font-weight: 200;
        display: block;
        font-size: 1.4rem;
        word-spacing: .4rem;
        transition: all .3s;
        margin: 0 1rem;
        opacity: 0;
        @include respond(tablet){
            font-size: 1.2rem;
            
        }
        
        
    }
    
    
    &-title{
        &-box{
            position: absolute;
            top: 50%;
            left: 10%;
            font-size: 3rem;
            width: 30%;
            transform: translate(0, -50%);
            text-align: left;
            color: rgba(0, 0, 0, 0.452);
            @include respond (laptop){
                font-size: 2.5rem;
            }
            @include respond (tablet){
                top: 0%; 
                left: 50%;
                transform: translate(-50%, -50%);
                font-size: 3rem;
                width: 70%;
                margin: 0 auto;
            }
            @include respond (phone){
                top: 0; 
                left: 50%;
                transform: translate(-50%, -50%);
                font-size: 2rem;
                width: 90%;
                margin: 0 auto;
            }
            
            & > p > span{
                font-size: 4rem;
                color: #ff9900;
                @include respond (laptop){
                    font-size: 3rem;
                }
                
                
            }
            
        }
        &-icon-box{

            margin-top: 1rem;
            text-align: center;
            & > p{
                font-size: 1rem;
                margin-top: 1rem;
            }
            
            & > .mouse-img{
                margin: 0 auto;
                display: block;
                opacity: .5;
                width: 2.5rem;
                animation: mouse-shake 2s infinite ;
                
                @include respond(tablet){
                    display: none;
                }
            }
            & > .finger-img{
                margin: 0 auto;
                display: none;
                opacity: .5;
                width: 2.5rem;
                animation: mouse-shake 2s infinite ;
                
                @include respond(tablet){
                    display: block;
                }
            }
            & > .arrow-img{
                
                
                width: 3rem;
                
                transform: translateX(200%);
                animation: arrow-go-left 2s infinite;
            }
        }
        
        & > .benefit-background-color{
            position: absolute;
            top: 50%;
            left: 0%;
            transform: translate(0%,-50%);
            width: 100%;
            height: 80%;
            z-index: -1;
            background-color: #f7f7f7;
            
            @include respond (laptop){
                height: 70%;
            }
            @include respond (tablet){
                top: 0;
            }
        }
        
    }
    
    &-container{
        position: relative;
        
        margin: 10rem auto;
        transition: all 1s;
        transform: translateY(20rem);
        opacity: 0;
        @include respond (laptop){
            margin-top: 20rem;
        }
        
        @include respond (tabport){
            margin-top: 15rem;
        }
        @include respond (phone){
            margin-top: 10rem;
            transform: translateY(10rem);
        }
        
    }
    &-wrapper{
        
        align-items: center;
       
        @include respond (tablet){
           padding-top: 9rem;
        }
        
        
        
    }
    &-swiper{
        padding-left: 5rem;
        @include respond (laptop){
            padding-left: 15rem;
        }
        @include respond (tablet){
            padding-left: 0rem;
        }
        
       
    }

}

.benefit-fade-in{
    transform: translateY(0);
    opacity: 1;
}