body{
  background-image: url(/img/recruitment-bg.jpg);
  background-size: cover;
  background-position: center;
}
.smaller-padding{
    
  transition: all .3s;
  background-color: #5E2E86 !important;
  
    
    box-shadow: 0px 2px 10px 1px #00000079;
    @include respond (laptop){
      padding: .5rem 2rem !important;
    }
    @include respond(tablet){
      padding: .5rem 2rem !important;
    }
    & li .main-logo{
      color: white;
    }
    & .pc-nav-left {
      
      & a{
        color: #ffffff;
      }
    }
    & .pc-nav-middle {
      
      & a{
        
        
        color: #ffffff;
      }
    }
    & .pc-nav-right{
      align-items: center;
      & span{
        color: #ffffff;
        
        & i{
          font-size: 1.5rem;
        }
      }
        & a {
          color: #ffffff;
          font-size: 1.5rem;

        }
        
    }
  & .nav-icon-box{
    & .nav-icon{
      background-color: white;
    }
  }
  
  
}

.pc-nav{

  top: 0;
  left: 0;
  transition: all .3s;
  position: fixed;
  z-index: 99;
  width: -webkit-fill-available;
  background-color: transparent;
  
  
  display: grid;
  grid-template-columns: 1fr 2fr 1fr ;
  grid-template-areas:
  'pc-nav-left pc-nav-middle pc-nav-right';

  align-items: center;
  transition: all .3s;
  
  padding: .5rem 10rem !important;
  @include respond (laptop){
    padding: 1rem 2rem;
  }
  @include respond (tablet){
    display: none; 
  }
  & li{
    list-style: none;
  }
  
  &-left{
    grid-area: pc-nav-left;
  }
  &-middle{
    grid-area: pc-nav-middle;
    display: flex;
    align-items: center;
    justify-content: center;
    & a {

      color: #000000;
      font-size: 1rem;
      padding: .7rem 1rem;
      &:hover{
        background-color: rgba(255, 255, 255, 0.096);
      }
    }
    
  }
  &-right{
    grid-area: pc-nav-right;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: end;
    & span{
      color: #000000;
      
      & i{
        font-size: 1.5rem;
        
      }
    }
      & a {
        color: #000000;
        font-size: 1.5rem;
        
      }
      & a:nth-child(1){
           transition: all .2s;
          &:hover{
            color: blue;
          }
      }
      & a:nth-child(2){
        transition: all .2s;
          margin:0 1rem;
          &:hover{
            color: red;
          }
      }
  }
}
.small-nav{
  display: none;
  top: 0;
  left: 0;
  transition: all .3s;
  position: fixed;
  z-index: 99;
  width: -webkit-fill-available;
  background-color: transparent;
  align-items: center;
  transition: all .3s;
  justify-content: space-between;
  padding: 1rem 2rem;
@include respond (tablet){
  display: flex; 
}
& li{
  list-style: none;
}
}
.is-open{
& .nav-icon{
  background-color: black;
  position: absolute;
  content: '';
  display: block;
  transition: all .3s;
  &:nth-child(1){
    top: 50% !important;
    left: 0;
    width: 100%;
    height: 10%;
    opacity: 0;
  }
  &:nth-child(2){
    top: 50%;
    left: 0;
    width: 100%;
    height: 10%;
    transform: translateY(-50%);
    transform: skewY(45deg) !important;
    transition-delay: .2s;
  }
  &:nth-child(3){
    top: 50%;
    left: 0;
    width: 100%;
    height: 10%;
    transform: translateY(-50%);
    transform: skewY(-45deg) !important;
    transition-delay: .2s;
  }
  &:nth-child(4){
    bottom: 50% !important;
    left: 0;
    width: 100%;
    height: 10%;
    opacity: 0;
  }
}
& .small-nav-menu{
  bottom: 0;
  
}
}
.small-nav-menu{
position: fixed;
transition: all .3s;
border-top: 1px solid white;
bottom:-50% ;
left: 0;
width: 100%;
box-shadow: 0px 2px 10px 1px #00000079;
text-align: center;
display: flex;
flex-direction: column;
align-items: center;
background-color: #5E2E86;
&-link{
  
  padding: 1rem 0;
  display: block;
  width: 100%;
  color: rgb(255, 255, 255);
 
  
}
&-bottom{
  padding: 1rem 1rem;
  border-top:1px solid white ;
  border-bottom:1px solid white ;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  & a{
    color: white;
    font-size: 1.4rem;
    margin-right: 1rem;
  }
  & span{
    color: white;
    font-size: 1rem;
  }
}
}
.nav-icon-box{
width: 1.5rem;
height: 1.5rem;

position: relative;
& .nav-icon{
  background-color: black;
  position: absolute;
  content: '';
  display: block;
  transition: all .2s;
  &:nth-child(1){
    top: 0;
    left: 0;
    width: 100%;
    height: 10%;
  }
  &:nth-child(2){
    top: 50%;
    left: 0;
    width: 100%;
    height: 10%;
    transform: translateY(-50%);
  }
  &:nth-child(3){
    top: 50%;
    left: 0;
    width: 100%;
    height: 10%;
    transform: translateY(-50%);
  }
  &:nth-child(4){
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10%;
  }
}
}
.nav-checkbox{
display: none;
}
.main-logo{
color: #000000;
display: flex ;
align-items: center;

& img{
  width:2.5rem;
  height:2.5rem;
  margin-right: .5rem;
}
& div span:nth-child(1){
  font-size: 1.3rem;
  font-weight: 700;
  @include respond(phone){
    font-size: 1rem;
  }
}
& div span{
  font-size: .9rem;
  @include respond(phone){
    font-size: .7rem;
  }
}
}

///////////////////////////// FOOTER


.footer-item{
  background-color: #281C2D;
 
  padding: 3rem 10rem;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr ;
  grid-template-areas:
  'footer-left footer-middle footer-right';
  // grid-template-areas:
  //       'footer-left footer-middle footer-right';
  
  @include respond(tabport){
    padding: 3rem 5rem;
  }
  @include respond(phone){
    display: flex;
    flex-direction: column;
  }
  
        &-left{
          grid-area: footer-left;
          text-align: left;
          
          
          
          & p{
            font-size: 1.2rem;
            font-weight: 500;
            color: #BEAFC2;
            &::after{
              content: "";
              margin-top: .5rem;
              width: 100px;
              height: 1px;
              display: block;
              background-color: #BEAFC2;
            }
            @include respond(tablet){
              font-size: 1rem;
            }
            @include respond(tabport){
              font-size: .9rem;
            }
          }
          & a{
            color: #BEAFC2;
            display: block;
            margin-top: 1rem;
            
            @include respond(tablet){
              font-size: .9rem;
            }
            
          }
        }
        &-right{
          grid-area: footer-right;
         
          text-align: left;
          & p:nth-child(1) {
            font-size: 1.2rem;
            font-weight: 500;
            color: #BEAFC2;
            &::after{
              content: "";
              margin-top: .5rem;
              width: 100px;
              height: 1px;
              display: block;
              background-color: #BEAFC2;
            }
            @include respond(tablet){
              font-size: 1rem;
            }
            @include respond(tabport){
              font-size: .9rem;
            }

          }
          & .footer-phone-number{
            color: #BEAFC2;
            display: block;
            margin-top: 1rem;
            
            @include respond(tablet){
              font-size: .9rem;
            }
            
          }
          & a{
            color: #BEAFC2;
            display: block;
            margin-top: 1rem;
            
            @include respond(tablet){
              font-size: .9rem;
            }
            
          }
          
        }
        &-middle{
          grid-area: footer-middle;
          
          
          text-align: left;
          @include respond(phone){
            margin: 1rem 0;
          }
          & p{
            font-size: 1.2rem;
            font-weight: 500;
            color: #BEAFC2;
            &::after{
              content: "";
              margin-top: .5rem;
              width: 100px;
              height: 1px;
              display: block;
              background-color: #BEAFC2;
            }
            
            
            @include respond(tablet){
              font-size: 1rem;
              margin-bottom: 1rem;
            }
            @include respond(tabport){
              font-size: .9rem;
              margin-bottom: 1rem;
            }
          }
          

          & a{
            
            color: #BEAFC2;
            display: block;
            margin-top: 1rem;
            
            @include respond(tablet){
              font-size: .9rem;
            }
          }
          
        }
        &-bottom{
          border-top: 1px solid black;
          padding: 1rem 0;
          text-align: center;
          & p{
            @include respond(tablet){
              font-size: .9rem;
            }
          }
        }
  
  
}

.recruitment{
  &-container{
    width: 60%;
    margin: 10rem auto;
    text-align: center;
    @include respond(tablet){
      width: 80%;
    }
    @include respond(tabport){
      width: 90%;
    }

  }
  &-title{
    font-size: 2rem;
    font-weight: 500;
    padding-bottom: 2rem;
    border-bottom:1px solid #5b0da5;
    margin-bottom: 2rem;
    color: #5b0da5;
  }
  &-items{
    text-align: left;
    & span{
      display: block;
      font-size: 1.4rem;
      font-weight: 400;
      margin-bottom: .5rem;
      color: #000000;
    }
    & p{
      font-size: 1.2rem;
      font-weight: 400;
      margin-bottom: 2rem;
      color: #0000007a;
    }
  }
}
.sign-up{

  
  
  &-next-btn{
    background-color: #ee9e0a;
    border-radius: 4px;
    border: none;
    border-bottom: 3px solid #795006;
    padding: .7rem 2rem;
    color: black;
    margin-top: 1rem;
  }
  
  
}
.form-items{
  padding: 1rem;
  box-shadow: 0px 3px 5px 1px #00000023;
  margin: 1rem auto;
  position: relative;
  background-color: #f7f7f7;
  height: fit-content;
  border-radius: .3rem;
  text-align: center;
  width: fit-content;
  @include respond(tabport){
    width: 15rem;
  }
}

.form-item{
position: absolute;
top: 0;
left: 0;
text-align: center;
width: 100%;
padding: 1.5rem 0;

  &-box{
    
    text-align: center;
    display: grid;
    grid-template-areas:
    'fill-info-box-1 fill-info-box-2'
    'fill-info-box-3 fill-info-box-4'
    'fill-info-box-5 fill-info-box-6'
    'fill-info-box-7 fill-info-box-8';
    @include respond(tabport){
      grid-template-areas:
      'fill-info-box-1'
       'fill-info-box-2'
      'fill-info-box-3'
       'fill-info-box-4'
      'fill-info-box-5'
       'fill-info-box-6'
      'fill-info-box-7'
       'fill-info-box-8';
    }
  }
  &-title{
    margin-bottom: 1rem;
    padding: 0 2rem;
    color: rgb(166, 57, 255);
  }
  &-checkbox{
      display: flex;
      align-items: center;
      margin: 1rem 0;
  }
}

.fill-info-box{
margin: 1rem .5rem;
@include respond(phone){
  margin:.5rem;
}
text-align: left;
&:nth-child(1){
  grid-area: fill-info-box-1;
  display: inline-block;
}
&:nth-child(2){
  grid-area: fill-info-box-2;
  display: inline-block;
}
&:nth-child(3){
  grid-area: fill-info-box-3;
  display: inline-block;
}
&:nth-child(4){
  grid-area: fill-info-box-4;
  display: inline-block;
}
&:nth-child(5){
  grid-area: fill-info-box-5;
  display: inline-block;
}
&:nth-child(6){
  grid-area: fill-info-box-6;
  display: inline-block;
}
&:nth-child(7){
  grid-area: fill-info-box-7;
  display: inline-block;
}
&:nth-child(8){
  grid-area: fill-info-box-8;
  display: inline-block;
}
& label{
  
  font-size: .9rem;
}
& input{
  font-size: .8rem;
    width: 13rem;
    margin-top: .5rem;
    padding:.7rem .5rem;
    display: block;
    border: none;
    background-color: #e2e2e2;
    
    transition: all .2s;
    &:focus{
      box-shadow: 0px 1px 3px 1px #0000002f;
      outline: none;
    }
}
}