.success-sign-up-hidden{


  &-container{
    display: none;
      position: fixed;
      
      transform: translate(-50%,-50%);
      background-color: #00000042;
      width: 100vw;
      height: 100vh;
  }
  &-modal{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
}
.hide-sign-up-btn{
  position: absolute;
  top: 0%;
  left: 3%;
  font-size: 2rem;
  color: black;
  z-index: 80;
}
.disabled-btn{
  opacity: .5 ;
  pointer-events: none ;
}
.main-hidden-form-item{
  position: fixed;
  top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
}

.sign-up{

    &-btn-box{
      position: absolute;
      bottom: 10%;
      left: 50%;
      transform: translate(-50%,-50%);

    }
    &-show{
      z-index: 50!important;
      opacity: 1 !important;
      
      
    }
    &-hidden{
      z-index: -99;
      opacity: 0;
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      background-color: #00000042;
      width: 100vw;
      height: 100vh;
      @include respond(phone){
        & .form-items{
          height: 20rem;
          overflow-y: scroll;
          
        }
        & .form-item-box{
          
            display: grid;
            grid-template-areas:
            'fill-info-box-1'
            'fill-info-box-2'
            'fill-info-box-3'
            'fill-info-box-4'
            'fill-info-box-5'
            'fill-info-box-6'
            'fill-info-box-7';
          
          
        }
        & .sign-up-btn-box{
          bottom: -75%;
        }
      }
      
      & > form{
        position: fixed;
        top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      }
      
      
    }
    &-next-btn{
      background-color: #ee9e0a;
      border-radius: 4px;
      border: none;
      border-bottom: 3px solid #795006;
      padding: .7rem 2rem;
      color: black;
      
    }
    &-box{
      
      position: absolute;
      top: 50%;
      right: 10%;
      transform: translate(0%,-50%);
      
      
      animation: sign-up-fade-in 1.5s;
      @include respond(laptop){
        display: none;
      }
    }
    &-title-box{
      
        text-align: center;
        margin-bottom: 1rem;
        
        
        & h3{
          font-weight: 400;
            
            color: #000000;
            font-size: 1.3rem;
            
        }
    }
}
.form-items{
    padding: 1rem;
    box-shadow: 0px 5px 10px 1px #0000004d;
    margin-top: 1rem;
    position: relative;
    background-color: #f7f7f7;
    height: 32rem;
    border-radius: .3rem;
    text-align: center;
    width: fit-content;
}

.form-item{
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  width: 100%;
  padding: 1.5rem 0;
 
    &-box{
      
      text-align: center;
      display: grid;
      grid-template-areas:
      'fill-info-box-1 fill-info-box-2'
      'fill-info-box-3 fill-info-box-4'
      'fill-info-box-5 fill-info-box-6'
      'fill-info-box-7 fill-info-box-7';
      
    }
    &-title{
      margin-bottom: 1rem;
      padding: 0 2rem;
      color: rgb(166, 57, 255);
    }
    &-checkbox{
        display: flex;
        align-items: center;
        margin: 1rem 0;
    }
}
.birthday-box{
  display: grid !important;
  & label{
    font-size: .8rem !important;
  }
  & input{
    width: 3.5rem !important;
  }
  grid-template-columns: 1fr 1fr 1fr;
      grid-template-areas:
      'birthDay birthMonth birthYear';
  .birthDay{
    grid-area: birthDay;
  }
  .birthMonth{
    grid-area: birthMonth;
  }
  .birthYear{
    grid-area: birthYear;
  }
}
.fill-info-box{
  margin: 1rem .5rem;
  @include respond(phone){
    margin:.5rem;
  }
  text-align: left;
  &:nth-child(1){
    grid-area: fill-info-box-1;
    display: inline-block;
  }
  &:nth-child(2){
    grid-area: fill-info-box-2;
    display: inline-block;
  }
  &:nth-child(3){
    grid-area: fill-info-box-3;
    display: inline-block;
  }
  &:nth-child(4){
    grid-area: fill-info-box-4;
    display: inline-block;
  }
  &:nth-child(5){
    grid-area: fill-info-box-5;
    display: inline-block;
  }
  &:nth-child(6){
    grid-area: fill-info-box-6;
    display: inline-block;
  }
  &:nth-child(7){
    grid-area: fill-info-box-7;
    display: inline-block;
  }
  
  & label{
    
    font-size: .9rem;
  }
  & input{
    font-size: .8rem;
    width: 13rem;
    margin-top: .5rem;
    padding:.7rem .5rem;
    display: block;
    border: none;
    background-color: #e2e2e2;
    
    transition: all .2s;
    &:focus{
      box-shadow: 0px 1px 3px 1px #0000002f;
      outline: none;
    }
  }
}




///////////////////////////////// 








