.testimonials{
    &-title{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 5rem;
        & span{
            font-size: 2rem;
            font-weight: 400;
            color: #0000009d;
            margin: 0 2rem;
        }
        & b{
            height: 1px;
            background-color: #0000003f;
            width: 20%;
            display: block;
        }
        @include respond(laptop){
            font-size: 1.5rem;
        }
        
    }
    &-container{
        text-align: center;
        transform: translateY(7rem);
        opacity: 0;
        transition: all 1s;
    }
    &-swiper{
        background-color: #f7f7f7;
    }
    &-box{
        
        margin: 5rem 0;
    }
    &-item{
        text-align: center;
        
        &-quotes{
            margin: 1rem auto;
            width:50rem;
            font-size: 1.4rem;
            @include respond(laptop){
                
                margin: 1rem auto;
                font-size: 1.1rem;
            }
            @include respond(tablet){
                width:60%;
                margin: 1rem auto;
                font-size: 1rem;
            }
            @include respond(tabport){
                width:70%;
                margin: 1rem auto;
                font-size: 1rem;
            }
            @include respond(phone){
                width:80%;
                margin: 1rem auto;
                font-size: .8rem;
            }
            
        }
        &-image{
            border-radius: 50%;
            width: 100px; /* width of container */
            height: 100px; /* height of container */
            object-fit: cover;
            margin: 1rem auto;
            display: block;

        }
        &-title{
            
            margin-bottom: 1rem;
            
        }
        &-name{
            font-size: 1.2rem;
            color: #631dad;
            
            @include respond(tablet){
                
                font-size: 1rem;
            }
            @include respond(phone){
                
                font-size: .9rem;
            }
        }
        &-job{
            font-size: 1.2rem;
            text-transform: uppercase;
            
            @include respond(laptop){
                margin-top: .5rem;
                font-size: 1rem;
            }
            @include respond(phone){
                
                font-size: .9rem;
            }
        }
    }
    &-next-btn{
        right: 10%;
        color: #631dad;
        @include respond(phone){
            right: 5%;
            &::after{
                font-size: 1.2rem;
            }
        }
        
    }
    &-prev-btn{
        left: 10%;
        color: #631dad;
        @include respond(phone){
            
            left: 5%;
            &::after{
                font-size: 1.2rem;
            }
        }

    }
    &-pagination{
        bottom: -10% !important;
    }
}
.swiper-pagination-bullet{
    width: .8rem;
    height: .8rem;
}
.swiper-pagination-bullet-active{
    background-color: #631dad;
}