<footer>
    <div class="footer-item">
        <div class="main-logo footer-item-small-logo">
            <img src="/img/logo.png" alt="">
            <div>
                <span>TPB-FICO</span> <br> <span>VAY LÀ CÓ NGAY</span>
            </div>
            
        </div>
        <div class="footer-item-left">
            <p>Sản phẩm vay:</p>
            <a href="javascript:void(0);" class="product-btn">Vay Theo Lương</a>
            <a href="javascript:void(0);" class="product-btn">Vay Tiêu Dùng Theo Bảo Hiểm Nhân Thọ</a>
            <a href="javascript:void(0);" class="product-btn">Vay Tiền Nhanh Theo Hợp Đồng Vay Cũ</a>
            <a href="javascript:void(0);" class="product-btn">Vay Tiền Mặt Theo Hóa Đơn Điện/Nước/Wifi,...</a>
            <a href="javascript:void(0);" class="product-btn">Vay Sinh Viên</a>
        </div>
        <div class="main-logo footer-item-middle">
            <img src="/img/logo.png" alt="">
            <div>
                <span>TPB-FICO</span> <br> <span>VAY LÀ CÓ NGAY</span>
            </div>
            
        </div>
        <div class="footer-item-right">
            <p>Thông tin liên lạc:</p>
            <a href="https://www.facebook.com/profile.php?id=100044162722953"><i class="fab fa-facebook-square"></i></a> 
            <a href="mailto:Tranphucct6899@gmail.com"><i class="fab fa-google-plus-square"></i></a>
            
            <span class="phone-number">Hotline: +84369157357</span>
        </div>
    </div>
    <div class="footer-item-bottom">
        <p>Copyright © 2021 TPB-Fico. All rights reserved.</p>
        <div>
            <p>Icons and images from:</p>
            <a class="freepik" href="http://www.freepik.com">Freepik</a>
            <a class="vecteezy" href="https://www.vecteezy.com/free-vector/simple-color-background">Vecteezy</a>
            <a class="fontawesome" href="https://fontawesome.com/">Font awesome</a>
        </div>
                
    </div>
    
    
</footer>