<footer>
    <div class="footer-item">
        
        <div class="footer-item-left">
            <p>Sản phẩm vay</p>
            <a href="javascript:void(0);" class="product-btn">Vay Sinh Viên</a>
            <a href="javascript:void(0);" class="product-btn">Vay Theo Lương</a>
            <a href="javascript:void(0);" class="product-btn">Vay Tiêu Dùng Theo Bảo Hiểm Nhân Thọ</a>
            <a href="javascript:void(0);" class="product-btn">Vay Tiền Nhanh Theo Hợp Đồng Vay Cũ</a>
            <a href="javascript:void(0);" class="product-btn">Vay Tiền Mặt Theo Hóa Đơn Điện/Nước/Wifi,...</a>
            
        </div>
        <div class="footer-item-middle">
            <p>Điều hướng</p>
            <a href="javascript:void(0);" class="showSignUpBtn">Đăng ký vay</a>
            <a href="javascript:void(0);" class="product-btn">Sản phẩm vay</a>
            <a href="/recruitment" class="">Cơ hội nghề nghiệp</a>
         
        </div>
        <div class="footer-item-right">
            <p>Liên hệ</p>
            <a href="https://www.facebook.com/profile.php?id=100044162722953">Facebook</a>
            <a href="mailto:Tranphucct6899@gmail.com">Email</a>
            <p class="footer-phone-number">+84369157357</p>
        </div>
        
    </div>
    <div class="footer-item-bottom">
        <p>Copyright © 2021 TPB-Fico. All rights reserved.</p>   
    </div>
    
    
</footer>