
<nav class="pc-nav">
    <ul>
        <li>
            <a class="main-logo" href="#">
                <img src="/img/logo.png" alt="">
                <div>
                    <span>TPB-FICO</span> <br> <span>VAY LÀ CÓ NGAY</span>
                </div>
            </a>
        </li>
        <li class="pc-nav-left">  
         
            <a href="">ĐĂNG KÝ VAY</a>
            <a href="">CƠ HỘI NGHỀ NGHIỆP</a>
            <a href="">SẢN PHẨM CHO VAY</a>
        </li>
        <li class="pc-nav-right">
           
            <a href=""><i class="fab fa-facebook-square"></i></a>
            <a href=""><i class="fad fa-envelope"></i></a>
            <span class="phone-number"><i class="fas fa-mobile-android"></i> +84123456789</span>
            
        </li>
    </ul>
    
  
    
    

</nav>