<nav>
    <ul class="pc-nav">
        <li class="pc-nav-left">
            <a class="main-logo" href="/">
                <img src="/img/logo.png" alt="logo">
                <div>
                    <span>TPB-FICO</span> <br> <span>VAY LÀ CÓ NGAY</span>
                </div>
            </a>
        </li>
        <li class="pc-nav-middle">  
        
           <a id="show-sign-up-btn" href="/">ĐĂNG KÝ VAY</a>
            <a id="product-btn" href="/">SẢN PHẨM VAY</a>
            <a href="/recruitment">CƠ HỘI NGHỀ NGHIỆP</a>
            
        </li>
        <li class="pc-nav-right">
           
            <a href="https://www.facebook.com/profile.php?id=100044162722953"><i class="fab fa-facebook-square"></i></a>
            <a href=""><i class="fab fa-google-plus-square"></i></a>
            <span class="phone-number"><i class="fas fa-mobile-android"></i> +84123456789</span>
            
        </li>
    </ul>
    
  <ul class="small-nav">
        <li class="small-nav-left">
            <a class="main-logo" href="/">
                <img src="/img/logo.png" alt="logo">
                <div>
                    <span>TPB-FICO</span> <br> <span>VAY LÀ CÓ NGAY</span>
                </div>
            </a>
        </li>
        
        <li class="small-nav-right">
            <div class="nav-icon-box">
               
                <span class="nav-icon"></span>
                <span class="nav-icon"></span>
                <span class="nav-icon"></span>
                <span class="nav-icon"></span>
                <div class="small-nav-menu">
                    <a class="small-nav-menu-link" href="/">ĐĂNG KÝ VAY</a>
                    <a class="small-nav-menu-link" href="/">SẢN PHẨM VAY</a>
                    <a class="small-nav-menu-link" href="/recruitment">CƠ HỘI NGHỀ NGHIỆP</a>
                    <div class="small-nav-menu-bottom">
                        <div class="small-nav-menu-bottom-left">
                            <a href="https://www.facebook.com/profile.php?id=100044162722953"><i class="fab fa-facebook-square"></i></a>
                            <a href=""><i class="fab fa-google-plus-square"></i></a>
                            
                        </div>
                        <span class="phone-number"><i class="fas fa-mobile-android"></i> +84123456789</span>
                    </div>
                </div>
            </div>
            
        </li>
        
    </ul>
    
    

</nav>