<nav class="pc-nav">
    <ul>
        <li class="pc-nav-left">
            <a class="main-logo" href="/">
                <img src="/img/logo.png" alt="">
                <div>
                    <span>TPB-FICO</span> <br> <span>VAY LÀ CÓ NGAY</span>
                </div>
            </a>
        </li>
        <li class="pc-nav-middle">  
        
           
            
        </li>
        <li class="pc-nav-right">
           
            <a href="https://www.facebook.com/profile.php?id=100044162722953"><i class="fab fa-facebook-square"></i></a>
            <a href=""><i class="fab fa-google-plus-square"></i></a>
            <span class="phone-number"><i class="fas fa-mobile-android"></i> +84123456789</span>
            
        </li>
    </ul>
    
  
    
    

</nav>