<header>
    <div class="title-box">

        <h1 id="main-title" class="main-title">
            TPB-FICO TEST
        </h1>
        <h2 id="small-title" class="small-title">VAY TÍN CHẤP TIÊU DÙNG, UY TÍN HÀNG ĐẦU <br> GIẢI NGÂN NHANH CHÓNG, LÃI
            SUẤT CHỈ TỪ 1.3% </h2>

        <div class="header-btn-box">
            <a id="" href="javascript:void(0);" class="sign-up-btn product-btn">TÌM HIỂU THÊM</a>
            <a id="sign-up-btn" href="javascript:void(0);" class="small-sign-up-btn showSignUpBtn">ĐĂNG KÝ VAY</a>
            <a id="job-btn" href="/recruitment" class="job-btn">TUYỂN DỤNG</a>
        </div>

    </div>

    <div class="scrolldown-box">
        <span>CUỘN XUỐNG</span>
        <div class='scrolldown'>
            <div class="chevrons">
                <div class='chevrondown'></div>
                <div class='chevrondown'></div>
            </div>
        </div>
    </div>

    <div class="sign-up-box">
        <div >


            <form class="form-items" action="/client-sign-up" method="POST">

                <p class="form-item-title">ĐĂNG KÝ VAY</p>
                <p style="color:red">*Mọi thông tin chỉ để phục vụ cho việc vay vốn</p>
                <div class="form-item-box">

                    <div class="fill-info-box">
                        <label for="">Họ và tên:</label>
                        <input name="name" placeholder="VD: Nguyễn Văn A" type="text" required>
                    </div>


                    <div class="fill-info-box birthday-box">
                        <div class="birthDay">
                            <label for="">Ngày sinh:</label>
                            <input name="birthDay" placeholder="VD: 30" type="text" required>
                        </div>
                        
                        <div class="birthMonth">
                            <label for="">Tháng sinh:</label>
                            <input name="birthMonth" placeholder="VD: 12" type="text" required>
                        </div>
                        <div class="birthYear">
                            <label for="">Năm sinh:</label>
                            <input name="birthYear" placeholder="VD: 1998" type="text" required>
                        </div>
                    </div>
                    



                    <div class="fill-info-box">
                        <label for="">Số CMND hoặc CCCD:</label>
                        <input name="cmnd" placeholder="VD: 123456789" type="text" required>
                    </div>

                    <div class="fill-info-box">
                        <label for="">Số điện thoại:</label>
                        <input name="phone" placeholder="VD: 123456789" type="text" required>
                    </div>



                    <div class="fill-info-box">
                        <label for="">Email (không bắt buộc):</label>
                        <input name="email" placeholder="VD: nguyenvana@gmail.com" type="text">
                    </div>

                    <div class="fill-info-box">
                        <label for="">Địa chỉ sinh sống hiện tại:</label>
                        <input name="address" placeholder="VD: 135 Trần Hưng Đạo Phường An Phú Quận Ninh Kiều TP Cần Thơ" type="text" required>
                    </div>



                </div>
                

                <button id="header-signup-form-submit-btn" class=" sign-up-next-btn">Đăng ký</button>
            </form>
        </div>


    </div>




</header>
<section class="benefit-container">

    <div class="benefit-title">
        <div class="benefit-background-color"></div>


        <div class="benefit-title-box">
            <p class="benefit-title-text">VÌ SAO BẠN NÊN CHỌN <span>TPB-FICO</span> ĐỂ VAY?</p>
            <div class="benefit-title-icon-box">
                <img class="mouse-img" src="/img/mouse.png" alt="icon chuột">
                <img class="finger-img" src="/img/flick-to-left.png" alt="icon lướt qua trái">
                <p>Kéo từ phải qua</p>

                <img class="arrow-img" src="/img/left-arrow.png" alt="icon mũi tên qua trái">
            </div>

        </div>
    </div>
    <div class="swiper  benefit-swiper">
        <div class="swiper-wrapper  benefit-wrapper">
            <div class="swiper-slide benefit-box">
                <div class="benefit">
                    <img src="/img/timetable.png" alt="hình đồng hồ" srcset="">
                    <span>THỦ TỤC NHANH GỌN</span>
                    <p>Thủ tục, hồ sơ và quy trình đăng ký đơn giản, khách hàng sẽ được giải ngân chỉ sau 1 – 3 ngày làm việc.</p>

                    <i class="fal fa-fingerprint"></i>
                </div>

            </div>
            <div class="swiper-slide benefit-box">
                <div class="benefit">
                    <img src="/img/checklist.png" alt="hình hồ sơ" srcset="">
                    <span>HỒ SƠ MINH BẠCH</span>

                    <p>Kịp thời đưa ra các thông tin chi tiết về khoản vay và lãi suất cho khách hàng một cách chính xác
                        nhất.
                    </p>
                    <i class="fal fa-fingerprint"></i>
                </div>

            </div>
            <div class="swiper-slide benefit-box">
                <div class="benefit">
                    <img src="/img/balance.png" alt="hình cán cân" srcset="">
                    <span>LÃI SUẤT CẠNH TRANH</span>

                    <p>Mức lãi suất luôn luôn là hấp dẫn nhất thị trường cho từng phân khúc khách hàng.</p>
                    <i class="fal fa-fingerprint"></i>
                </div>

            </div>
            <div class="swiper-slide benefit-box">
                <div class="benefit">
                    <img src="/img/love.png" alt="hình trái tim" srcset="">
                    <span>NHÂN VIÊN TÂM HUYẾT</span>


                    <p>Chăm sóc khách hàng 24/7, vui vẻ, nhiệt tình, đúng thời điểm và đúng nhu cầu.</p>
                    <i class="fal fa-fingerprint"></i>
                </div>
            </div>


        </div>

    </div>


</section>
<section class="product-container">
    <h3 class="product-title">
        SẢN PHẨM VAY
    </h3>
    <div class="product-box">
        <a id="product-1" href="javascript:void(0);" class="product showSignUpBtn">
            <img src="/img/payday.png" alt="hình tiền lương">
            <span>Vay Theo Lương</span>
            <p>Khoản vay tối đa lên tới 100tr đồng, thời gian vay kéo dài từ 12-36 tháng, lãi suất chỉ từ 1.3%</p>
        </a>
        <a id="product-2" href="javascript:void(0);" class="product showSignUpBtn">
            <img src="/img/health-insurance.png" alt="hình bảo hiểm">
            <span>Vay Tiêu Dùng Theo Bảo Hiểm Nhân Thọ</span>
            <p>Khoản vay tối đa lên tới 70tr đồng, thời gian vay kéo dài từ 13-36 tháng, lãi suất chỉ từ 1.76%</p>
        </a>
        <a id="product-3" href="javascript:void(0);" class="product showSignUpBtn">
            <img src="/img/contract.png" alt="hình hợp đồng">
            <span>Vay Tiền Nhanh Theo Hợp Đồng Vay Cũ</span>
            <p>Khoản vay tối đa lên tới 70tr đồng, thời gian vay kéo dài từ 13-36 tháng, lãi suất chỉ từ 2.17%</p>

        </a>
        <a id="product-4" href="javascript:void(0);" class="product showSignUpBtn">
            <img src="/img/invoice.png" alt="hình hóa đơn">
            <span>Vay Tiền Mặt Theo Hóa Đơn Điện/Nước/Wifi,...</span>
            <p>Khoản vay tối đa lên tới 50tr đồng, thời gian vay kéo dài từ 12-36 tháng, lãi suất chỉ từ 2.17%</p>

        </a>
        <a id="product-5" href="javascript:void(0);" class="product showSignUpBtn">
            <img src="/img/group.png" alt="hình nhóm sinh viên">
            <span>Vay Sinh Viên</span>
            <p>Khoản vay tối đa lên tới 9tr đồng, thời gian vay kéo dài từ 3-12 tháng, lãi suất chỉ từ 1.8%</p>
        </a>
    </div>

</section>
<section class="testimonials-container">
    <h3 class="testimonials-title">NHẬN XÉT CỦA KHÁCH HÀNG</h3>
    <div class="swiper testimonials-swiper">
        <div class="swiper-wrapper  testimonials-box">
            <div class="swiper-slide testimonials-item">

                <p class="testimonials-item-quotes">
                    " Mình cực thích cách làm việc tâm huyết và sự tận tâm của nhân viên, 
                    tháng trước mình kẹt tiền nên phải tìm chỗ vay nên bạn mình giới thiệu mình vay ở đây và đúng là không hối hận vì tốc độ làm hồ sơ cũng như thời gian giải ngân cực nhanh.
                     Cám ơn Ngân Hàng TPBank Fico rất nhiều vì đã hỗ trợ mình . "
                </p>
                <div class="testimonials-item-title">
                    <span class="testimonials-item-name">
                        Mrs. Nguyễn Thị Trúc Trang
                    </span>
                    <img src="" class="testimonials-item-image">

                </div>

            </div>
            <div class="swiper-slide testimonials-item">

                <p class="testimonials-item-quotes">
                    " Đã vay ở đây được vài lần và mình dám khẳng định 1 điều là nếu như tìm chỗ vay giải ngân nhanh lãi suất thấp và làm hồ sơ nhanh gọn
                    thì Ngân Hàng TPBank Fico chính là nơi hoàn hảo nhất cho mình, ngoài ra còn đặc biệt ấn tượng với sự nhiệt tình hỗ trợ của nhân viên nữa, mong là Ngân Hàng TPBank Fico sẽ phát triển mạnh mẽ hơn nữa. "
                </p>
                <div class="testimonials-item-title">
                    <span class="testimonials-item-name">
                        Mr. Huỳnh Nhật Minh
                    </span>
                    <img src="" class="testimonials-item-image">

                </div>

            </div>
            <div class="swiper-slide testimonials-item">

                <p class="testimonials-item-quotes">
                    " Cực kỳ an tâm khi vay tiền ở đây vì sự minh bạch rõ ràng của hồ sơ, nhân viên tư vấn nhiệt tình, lãi suất tốt, hoàn toàn không có gì đáng chê cả
                     lần sau mình sẽ giới thiệu bạn mình đến vay, cảm ơn TPB Fico rất nhiều. "
                </p>
                <div class="testimonials-item-title">
                    <span class="testimonials-item-name">
                        Mr. Đinh Quốc Duy
                    </span>
                    <img src="" class="testimonials-item-image">

                </div>

            </div>

        </div>
        <div class="swiper-button-next testimonials-next-btn"></div>
        <div class="swiper-button-prev testimonials-prev-btn"></div>
        <div class="swiper-pagination testimonials-pagination"></div>
    </div>
</section>
<div id="sign-up-hidden" class="sign-up-hidden">
    
   <div class="main-hidden-form-item">


            <form class="form-items" action="/client-sign-up" method="POST">
                <a href="javascript:void(0);" id="hide-sign-up-btn" class="hide-sign-up-btn"><i class="fal fa-times"></i></a>
                <p class="form-item-title">ĐĂNG KÝ VAY</p>
                <p style="color:red">*Mọi thông tin chỉ để phục vụ cho việc vay vốn</p>
                <div class="form-item-box">

                    <div class="fill-info-box">
                        <label for="">Họ và tên:</label>
                        <input name="name" placeholder="VD: Nguyễn Văn A" type="text" class="input-keyup2" required>
                    </div>


                    <div class="fill-info-box birthday-box">
                        <div class="birthDay">
                            <label for="">Ngày sinh:</label>
                            <input name="birthDay" placeholder="VD: 30" type="text" class="input-keyup2-2" required>
                        </div>
                        
                        <div class="birthMonth">
                            <label for="">Tháng sinh:</label>
                            <input name="birthMonth" placeholder="VD: 12" type="text" class="input-keyup2-3" required>
                        </div>
                        <div class="birthYear">
                            <label for="">Năm sinh:</label>
                            <input name="birthYear" placeholder="VD: 1998" type="text" class="input-keyup2-4" required>
                        </div>
                    </div>
                    



                    <div class="fill-info-box">
                        <label for="">Số CMND hoặc CCCD:</label>
                        <input name="cmnd" placeholder="VD: 123456789" type="text" class="input-keyup2-5" required>
                    </div>

                    <div class="fill-info-box">
                        <label for="">Số điện thoại:</label>
                        <input name="phone" placeholder="VD: 123456789" type="text" class="input-keyup2-6"required>
                    </div>



                    <div class="fill-info-box">
                        <label for="">Email (không bắt buộc):</label>
                        <input name="email" placeholder="VD: nguyenvana@gmail.com" type="text">
                    </div>

                    <div class="fill-info-box">
                        <label for="">Địa chỉ sinh sống hiện tại:</label>
                        <input name="address" placeholder="VD: 135 Trần Hưng Đạo Phường An Phú Quận Ninh Kiều TP Cần Thơ" type="text" class="input-keyup2-7" required>
                    </div>



                </div>
                
                <button class="sign-up-next-btn">Đăng ký</button>

            </form>
        </div>
</div>

<div id="success-sign-up-hidden-container" class="success-sign-up-hidden-container">
    <div class="success-sign-up-hidden-modal">
        <p>Gửi thông tin thành công<br>
            cám ơn vì đã chọn chúng tôi
        </p>
    </div>
</div>