<header>
    <div class="title-box">

        <h1 id="main-title" class="main-title">
            <span>TPB-FICO</span>
        </h1>
        <h2 id="small-title" class="small-title">VAY TÍN CHẤP TIÊU DÙNG, UY TÍN HÀNG ĐẦU <br> GIẢI NGÂN NHANH CHÓNG, LÃI SUẤT CHỈ TỪ 1.3% </h2>

        <div class="header-btn-box">
            <a id="sign-up-btn" href="#" class="sign-up-btn">TÌM HIỂU THÊM</a>
            <a id="job-btn" href="#" class="job-btn">TUYỂN DỤNG</a>
        </div>
        
    </div>

    <div class="scrolldown-box">
        <span>CUỘN XUỐNG</span>
        <div class='scrolldown'>
            <div class="chevrons">
                <div class='chevrondown'></div>
                <div class='chevrondown'></div>
            </div>
        </div>
    </div>

    <div class="sign-up-box">
        <form action="">
            

            <div class="form-items">

                <p class="form-item-title">ĐĂNG KÝ VAY</p>

                <div class="form-item-box">

                    <div class="fill-info-box">
                        <label for="">Họ và tên:</label>
                        <input placeholder="VD: Nguyễn Văn A" type="text">
                    </div>


                    <div class="fill-info-box">
                        <label for="">Ngày tháng năm sinh:</label>
                        <input placeholder="VD: Ngày/Tháng/Năm" type="text">
                    </div>



                    <div class="fill-info-box">
                        <label for="">Số CMND hoặc CCCD:</label>
                        <input placeholder="VD: 123456789" type="text">
                    </div>

                    <div class="fill-info-box">
                        <label for="">Số điện thoại:</label>
                        <input placeholder="VD: 123456789" type="text">
                    </div>



                    <div class="fill-info-box">
                        <label for="">Email (không bắt buộc):</label>
                        <input placeholder="VD: nguyenvana@gmail.com" type="text">
                    </div>

                    <div class="fill-info-box">
                        <label for="">Địa chỉ sinh sống hiện tại:</label>
                        <input placeholder="VD: 68 Nguyen Van Linh k6 p2 TPCT" type="text">
                    </div>



                </div>
                <div class="sign-up-btn-box">
                    
                    <a href="#" class="sign-up-next-btn">Đăng ký</a>
                </div>


            </div>
        </form>


    </div>




</header>
<section class="benefit-container">

    <div class="benefit-title">
            <div class="benefit-background-color"></div>


            <div class="benefit-title-box">
                <p class="benefit-title-text">VÌ SAO BẠN NÊN CHỌN <span>TPB-FICO</span> ĐỂ VAY?</p>
                <div class="benefit-title-icon-box">
                    <img class="mouse-img" src="/img/mouse.png" alt="">
                    <p>Kéo từ phải qua</p>
                    
                    <img class="arrow-img" src="/img/left-arrow.png" alt="">
                </div>

            </div>
        </div>
    <div class="swiper  benefit-swiper">
      <div class="swiper-wrapper  benefit-wrapper">
        <div class="swiper-slide benefit-box">
            <div class="benefit">
                <img src="/img/timetable.png" alt="" srcset="">
                <span>THỦ TỤC NHANH GỌN</span>
                <p>Thủ tục, hồ sơ và quy trình đăng ký đơn giản, thời gian chỉ 1 – 3 ngày làm việc khách hàng được giải
                    ngân, tạo điều kiện thuận lợi cho khách hàng.</p>

                <i class="fal fa-fingerprint"></i>
            </div>
            
        </div>
        <div class="swiper-slide benefit-box">
            <div class="benefit">
                <img src="/img/checklist.png" alt="" srcset="">
                <span>HỒ SƠ MINH BẠCH</span>

                <p>Kịp thời đưa ra các thông tin chi tiết về khoản vay và lãi suất cho khách hàng một cách chính xác
                    nhất.
                </p>
                <i class="fal fa-fingerprint"></i>
            </div>
            
        </div>
        <div class="swiper-slide benefit-box">
            <div class="benefit">
                <img src="/img/balance.png" alt="" srcset="">
                <span>LÃI SUẤT CẠNH TRANH</span>

                <p>Mức lãi suất luôn luôn là hấp dẫn nhất thị trường cho từng phân khúc khách hàng.</p>
                <i class="fal fa-fingerprint"></i>
            </div>
            
        </div>
        <div class="swiper-slide benefit">
            <div>
                
            </div>
            <img src="/img/love.png" alt="" srcset="">
                <span>NHÂN VIÊN TÂM HUYẾT</span>


                <p>Chăm sóc khách hàng 24/7, vui vẻ, nhiệt tình, đúng thời điểm và đúng nhu cầu.</p>
                <i class="fal fa-fingerprint"></i></div>
        
      </div>
      
    </div>


</section>
<section class="product-container">
    <h3 class="product-title">
        SẢN PHẨM VAY
    </h3>
    <div class="product-box">
        <a id="product-1" href="" class="product">
            <img src="/img/payday.png" alt="">
            <span>Vay Tín Chấp - Theo Lương</span>
            <p>Khoản vay tối đa lên tới 100tr đồng, thời gian vay kéo dài từ 12-36 tháng, lãi suất chỉ từ 1.3%</p>
        </a>
        <a id="product-2" href="" class="product">
            <img src="/img/health-insurance.png" alt="">
            <span>Vay Tiêu Dùng Theo Bảo Hiểm Nhân Thọ</span>
            <p>Khoản vay tối đa lên tới 70tr đồng, thời gian vay kéo dài từ 13-36 tháng, lãi suất chỉ từ 1.76%</p>
        </a>
        <a id="product-3" href="" class="product">
            <img src="/img/contract.png" alt="">
            <span>Vay Tiền Nhanh Theo Hợp Đồng Vay Cũ</span>
            <p>Khoản vay tối đa lên tới 70tr đồng, thời gian vay kéo dài từ 13-36 tháng, lãi suất chỉ từ 2.17%</p>

        </a>
        <a id="product-4" href="" class="product">
            <img src="/img/invoice.png" alt="">
            <span>Vay Tiền Mặt Theo Hóa Đơn Điện/Nước/Wifi,...</span>
            <p>Khoản vay tối đa lên tới 50tr đồng, thời gian vay kéo dài từ 12-36 tháng, lãi suất chỉ từ 2.17%</p>

        </a>
        <a id="product-5" href="" class="product">
            <img src="/img/group.png" alt="">
            <span>Vay Sinh Viên</span>
            <p>Khoản vay tối đa lên tới 9tr đồng, thời gian vay kéo dài từ 3-12 tháng, lãi suất chỉ từ 1.8%</p>
        </a>
    </div>

</section>
<section class="testimonials-container">
    <h3 class="testimonials-title">NHẬN XÉT CỦA KHÁCH HÀNG</h3>
    <div class="swiper testimonials-swiper">
        <div class="swiper-wrapper  testimonials-box">
            <div class="swiper-slide testimonials-item">
                
                <p class="testimonials-item-quotes">
                    " Lorem ipsum dolor, sit amet consectetur adipisicing elit. Atque, voluptatem vel, laudantium praesentium saepe,
                     mollitia molestiae recusandae tempora pariatur commodi quisquam consequuntur dignissimos harum deleniti quos quaerat
                      minima repellat illum. "
                </p>
                <div class="testimonials-item-title">
                    <span class="testimonials-item-name">
                        Mr. Nguyen Thanh Dat -
                    </span>
                    <span class="testimonials-item-job">
                         Khach hang than thiet
                    </span>

                </div>

            </div>
            <div class="swiper-slide testimonials-item">
                
                <p class="testimonials-item-quotes">
                    " Lorem ipsum dolor, sit amet consectetur adipisicing elit. Atque, voluptatem vel, laudantium praesentium saepe,
                     mollitia molestiae recusandae tempora pariatur commodi quisquam consequuntur dignissimos harum deleniti quos quaerat
                      minima repellat illum. "
                </p>
                <div class="testimonials-item-title">
                    <span class="testimonials-item-name">
                        Mr. Nguyen Thanh Dat -
                    </span>
                    <span class="testimonials-item-job">
                         Khach hang than thiet
                    </span>

                </div>

            </div>
            <div class="swiper-slide testimonials-item">
                
                <p class="testimonials-item-quotes">
                    " Lorem ipsum dolor, sit amet consectetur adipisicing elit. Atque, voluptatem vel, laudantium praesentium saepe,
                     mollitia molestiae recusandae tempora pariatur commodi quisquam consequuntur dignissimos harum deleniti quos quaerat
                      minima repellat illum. "
                </p>
                <div class="testimonials-item-title">
                    <span class="testimonials-item-name">
                        Mr. Nguyen Thanh Dat -
                    </span>
                    <span class="testimonials-item-job">
                         Khach hang than thiet
                    </span>

                </div>

            </div>
            
        </div>
        <div class="swiper-button-next testimonials-next-btn"></div>
        <div class="swiper-button-prev testimonials-prev-btn"></div>
        <div class="swiper-pagination testimonials-pagination"></div>
    </div>
</section>
    <div id="sign-up-hidden" class="sign-up-hidden">
    <form action="">
            
            <div class="form-items">

                <p class="form-item-title">ĐĂNG KÝ VAY</p>

                <div class="form-item-box">

                    <div class="fill-info-box">
                        <label for="">Họ và tên:</label>
                        <input placeholder="VD: Nguyễn Văn A" type="text">
                    </div>


                    <div class="fill-info-box">
                        <label for="">Ngày tháng năm sinh:</label>
                        <input placeholder="VD: Ngày/Tháng/Năm" type="text">
                    </div>



                    <div class="fill-info-box">
                        <label for="">Số CMND hoặc CCCD:</label>
                        <input placeholder="VD: 123456789" type="text">
                    </div>

                    <div class="fill-info-box">
                        <label for="">Số điện thoại:</label>
                        <input placeholder="VD: 123456789" type="text">
                    </div>



                    <div class="fill-info-box">
                        <label for="">Email (không bắt buộc):</label>
                        <input placeholder="VD: nguyenvana@gmail.com" type="text">
                    </div>

                    <div class="fill-info-box">
                        <label for="">Địa chỉ sinh sống hiện tại:</label>
                        <input placeholder="VD: 68 Nguyen Van Linh k6 p2 TPCT" type="text">
                    </div>



                </div>
                <div class="sign-up-btn-box">
                    
                    <a href="#" class="sign-up-next-btn">Đăng ký</a>
                </div>


            </div>
        </form>
    </div>

