<header>
    <div class="title-box">
        
        <h1>
            <span>TPB-FICO</span>
        </h1>
        <h2>VAY TÍN CHẤP TIÊU DÙNG, <br> KHÔNG LO LÃI SUẤT</h2>
        
        
        <a href="#" class="sign-up-btn">ĐĂNG KÝ VAY</a>
        <a href="#" class="job-btn">TUYỂN DỤNG</a>
    </div>
 
    <div class="scrolldown-box">
        <span>CUỘN XUỐNG</span>
        <div class='scrolldown'>
            <div class="chevrons">
                <div class='chevrondown'></div>
                <div class='chevrondown'></div>
            </div>
        </div>
    </div>

    <form class="sign-up-box">
        <div class="sign-up-title-box">
            <div class="step-navigation">
                <label class="step-navigation-button" for="">
                    <input class="step-navigation-radio" type="radio">

                </label>
                <b></b>
                <label class="step-navigation-button" for="">
                    <input class="step-navigation-radio" type="radio">
                </label>
                <b></b>
                <label class="step-navigation-button" for="">
                    <input class="step-navigation-radio" type="radio">
                </label>
            </div>
            <h3>Đăng ký vay ngay chỉ với 3 bước dưới đây!</h3>
        </div>
        <div class="form-items">
            <div class="form-item">
                <p><span>Bước 1:</span>Đánh dấu vào những giấy tờ bạn có.</p>
                <div>
                    <div>
                        <label class="checkbox">
                            <input class="sign-up-checkbox" type="checkbox" name="" />
                            <svg viewBox="0 0 21 18">
                                <symbol id="tick-path" viewBox="0 0 21 18" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M5.22003 7.26C5.72003 7.76 7.57 9.7 8.67 11.45C12.2 6.05 15.65 3.5 19.19 1.69" fill="none" stroke-width="2.25" stroke-linecap="round" stroke-linejoin="round" />
                                </symbol>
                                <defs>
                                    <mask id="tick">
                                        <use class="tick mask" href="#tick-path" />
                                    </mask>
                                </defs>
                                <use class="tick" href="#tick-path" stroke="currentColor" />
                                <path fill="white" mask="url(#tick)" d="M18 9C18 10.4464 17.9036 11.8929 17.7589 13.1464C17.5179 15.6054 15.6054 17.5179 13.1625 17.7589C11.8929 17.9036 10.4464 18 9 18C7.55357 18 6.10714 17.9036 4.85357 17.7589C2.39464 17.5179 0.498214 15.6054 0.241071 13.1464C0.0964286 11.8929 0 10.4464 0 9C0 7.55357 0.0964286 6.10714 0.241071 4.8375C0.498214 2.39464 2.39464 0.482143 4.85357 0.241071C6.10714 0.0964286 7.55357 0 9 0C10.4464 0 11.8929 0.0964286 13.1625 0.241071C15.6054 0.482143 17.5179 2.39464 17.7589 4.8375C17.9036 6.10714 18 7.55357 18 9Z" />
                            </svg>
                            <svg class="lines" viewBox="0 0 11 11">
                                <path d="M5.88086 5.89441L9.53504 4.26746" />
                                <path d="M5.5274 8.78838L9.45391 9.55161" />
                                <path d="M3.49371 4.22065L5.55387 0.79198" />
                            </svg>
                        
                        </label>
                        <p>Sao kê lương + BHYT <span>HOẶC</span> xác nhận lương + BHYT</p>
                    </div>
                    
                </div>
            </div>



            <div class="form-item">
                <p><span>Bước 2:</span>Chọn số tiền bạn muốn vay</p>
            </div>



            <div class="form-item">
                <p><span>Bước cuối:</span>Điền thông tin cần thiết để kết thúc quá trình <span>ĐĂNG KÝ VAY</span></p>
            </div>
        </div>
    </form>
    
    
</header>
<section class="benefit-container">
    <h2 class="benefit-title">VÌ SAO BẠN NÊN CHỌN TPB-FICO ĐỂ VAY?</h2>
    <div class="benefit-box">
        <div class="benefit">
            
                <img src="/img/timetable.png" alt="" srcset=""> 
                <span>THỦ TỤC NHANH GỌN</span>
            <p>Thủ tục, hồ sơ và quy trình đăng ký đơn giản, thời gian chỉ 1 – 3 ngày làm việc khách hàng được giải ngân, tạo điều kiện thuận lợi cho khách hàng.</p>

            <i class="fal fa-fingerprint"></i>
        </div>
        <div class="benefit">
            
                <img src="/img/checklist.png" alt="" srcset=""> 
                <span>HỒ SƠ MINH BẠCH</span>
              
            <p>Kịp thời đưa ra các thông tin chi tiết về khoản vay và lãi suất cho khách hàng một cách chính xác nhất.</p>
            <i class="fal fa-fingerprint"></i>
            </div>
        <div class="benefit">
           
                <img src="/img/balance.png" alt="" srcset=""> 
                <span>LÃI SUẤT CẠNH TRANH</span>
       
            <p>Mức lãi suất luôn luôn là hấp dẫn nhất thị trường cho từng phân khúc khách hàng.</p>
            <i class="fal fa-fingerprint"></i>
            </div>
        <div class="benefit">
           
                <img src="/img/love.png" alt="" srcset=""> 
                <span>NHÂN VIÊN TÂM HUYẾT</span>
         
            
            <p>Chăm sóc khách hàng 24/7, vui vẻ, nhiệt tình, đúng thời điểm và đúng nhu cầu.</p>
            <i class="fal fa-fingerprint"></i>
            </div>
    </div>
</section>