<section class="recruitment-container">
    <h2 class="recruitment-title">TPB-FICO ĐANG TUYỂN DỤNG<br>CHÚNG TÔI CẦN BẠN!</h2>
    <div class="recruitment-items">
        <span>Khu vực:</span>
        <p>- Cần Thơ,Hậu Giang,Sóc Trăng,Vĩnh Long.</p>

        <span>Vị trí:</span>
        <p>- Tele Sales - Phỏng vấn ONLINE trúng tuyển đi làm ngay !</p>

        <span>Yêu cầu:</span>
        <p>- Chỉ cần 20 tuổi trở lên</p>

        <span>Công việc:</span>
        <p>- BANK cung cấp danh sách khách hàng gọi điện tư vấn và thiết lập hồ sơ vay tín chấp online trên điện thoại,chăm sóc khách hàng,hướng dẫn khách hàng thanh toán định kỳ hàng tháng...</p>

        <span>Ưu tiên:</span>
        <p>- Bạn có kinh nghiệm tài chính/ Bank</p>

        <span>Nếu không có kinh nghiệm chúng tôi sẽ:</span>
        <p>- Training và đào tạo những bạn sale trái ngành/ Sinh viên mới ra trường.</p>

        <span>Quyền lợi:</span>
        <p>- Lương thử việc 3Tr ( thời gian thử việc 2 Tháng).</p>
        <p>- Được ký hợp đồng lao động chính thức Lương 4,7Tr khi đủ KPI.</p>
        <p>- Thu nhập từ 8-12Tr/ tháng => hiệu suất làm việc.</p>
        <p>- Làm việc trong môi trường trẻ, năng động, thời gian linh hoạt.</p>

        <span>Mọi chi tiết vui lòng liên hệ:</span>
        <p>- Email: PhucTH4@tpb.com.vn</p>
        <p>- SĐT: 0369157357 - Zalo hoặc IB.</p>
    </div>
    <div class="sign-up-box">
        <div >


            <form class="form-items" action="/recruitment-sign-up" method="POST">

                <p class="form-item-title">ĐĂNG KÝ XIN VIỆC</p>
                <p style="color:red">*Mọi thông tin chỉ để phục vụ cho đơn xin việc</p>
                <div class="form-item-box">

                    <div class="fill-info-box">
                        <label for="">Họ và tên:</label>
                        <input name="name" placeholder="VD: Nguyễn Văn A" type="text" required>
                    </div>

                    <div class="fill-info-box">
                        <label for="">Năm sinh:</label>
                        <input name="yearborn" placeholder="VD: 2000" type="text" required>
                    </div>
                    
                    
                    <div class="fill-info-box">
                        <label for="">Số CMND hoặc CCCD:</label>
                        <input name="cmnd" placeholder="VD: 123456789" type="text" required>
                    </div>

                    <div class="fill-info-box">
                        <label for="">Số điện thoại:</label>
                        <input name="phone" placeholder="VD: 123456789" type="text" required>
                    </div>



                    <div class="fill-info-box">
                        <label for="">Email (không bắt buộc):</label>
                        <input name="email" placeholder="VD: nguyenvana@gmail.com" type="text">
                    </div>

                    <div class="fill-info-box">
                        <label for="">Địa chỉ sinh sống hiện tại:</label>
                        <input name="address" placeholder="VD: 135 Trần Hưng Đạo Phường An Phú Quận Ninh Kiều TP Cần Thơ" type="text" required>
                    </div>

                    <div class="fill-info-box">
                        <label for="">Trình độ học vấn:</label>
                        <input name="level" placeholder="VD: Trung Cấp/Cao Đẳng/Đại Học" type="text" required>
                    </div>

                    <div class="fill-info-box">
                        <label for="">Kinh nghiệm:</label>
                        <input name="exp" placeholder="Ghi 'không' nếu không có" type="text" required>
                    </div>

                </div>
                

                <button id="header-signup-form-submit-btn" class=" sign-up-next-btn">Đăng ký</button>
            </form>
        </div>


    </div>
</section>