<section class="recruitment-container">
    <h2 class="recruitment-title">TPB-FICO ĐANG TUYỂN DỤNG<br>CHÚNG TÔI CẦN BẠN!</h2>
    <div class="recruitment-items">
        <span>Khu vực:</span>
        <p>- Cần Thơ,Hậu Giang,Sóc Trăng,Vĩnh Long.</p>

        <span>Vị trí:</span>
        <p>- Tele Sales - Phỏng vấn ONLINE trúng tuyển đi làm ngay !</p>

        <span>Yêu cầu:</span>
        <p>- Chỉ cần 20 tuổi trở lên</p>

        <span>Công việc:</span>
        <p>- BANK cung cấp danh sách khách hàng gọi điện tư vấn và thiết lập hồ sơ vay tín chấp online trên điện thoại,chăm sóc khách hàng,hướng dẫn khách hàng thanh toán định kỳ hàng tháng...</p>

        <span>Ưu tiên:</span>
        <p>- Bạn có kinh nghiệm tài chính/ Bank</p>

        <span>Nếu không có kinh nghiệm chúng tôi sẽ:</span>
        <p>- Training và đào tạo những bạn sale trái ngành/ Sinh viên mới ra trường.</p>

        <span>Quyền lợi:</span>
        <p>- Lương thử việc 3Tr ( thời gian thử việc 2 Tháng).</p>
        <p>- Được ký hợp đồng lao động chính thức Lương 4,7Tr khi đủ KPI.</p>
        <p>- Thu nhập từ 8-12Tr/ tháng => hiệu suất làm việc.</p>
        <p>- Làm việc trong môi trường trẻ, năng động, thời gian linh hoạt.</p>

        <span>Mọi chi tiết vui lòng liên hệ:</span>
        <p>- Email: PhucTH4@tpb.com.vn</p>
        <p>- SĐT: 0369157357 - Zalo hoặc IB.</p>
    </div>
</section>